# Database Configuration
POSTGRES_USER=fin_user
POSTGRES_PASSWORD=fin_secret_password
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=fin_consolidator

# API Configuration
API_PORT=8000
APP_ENV=development
